<div class="jumbotron">
  <h1>Play Rock Paper Scissors!</h1>
  <h3>Choose how many players:</h3>
  <a href='/OnePlayer' method='get'><button type="button" id="single-player" class="btn btn-info">Single Player</button></a>
  <a href='/TwoPlayers' method='get'><button type="button" id="two-players" class="btn btn-info">Two Players</button></a>
</div>
